.footer{
display: flex;
    width: 100%;
    font-size: 18px;
    height: 150px;
    background-color:#003580 ;
    text-align: center;
    justify-content: center;
}
.footer>p{
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fList{
    list-style: none;
    padding: 0;

}
.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}